.app {
  text-align: center;
  background : linear-gradient(90deg,rgb(92, 185, 248),rgb(29, 237, 123));
  height: 100vh;
  
}



.heading {
  padding-top: 25px;
  font-size: 30px;
  margin-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}